node_modules/
.gitignore
.elasticbeanstalk/

# Local run cmd
runlocal.sh
test/full_reset.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Mysql database files
database_info.txt

# Error logs:
log/*