node_modules/
.gitignore
.elasticbeanstalk/

# Local run cmd
run*.sh
test/tests1/full_reset*.sh
test/tests2/full_reset*.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Mysql database files
database_info*.txt

# Error logs:
log/*
