node_modules/
.gitignore
.elasticbeanstalk/

# Local run cmd
run_local.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Mysql database files
database_info.txt